ENV=DEVELOPMENT
MONGO_CONNECTION_URL=
PORT = 4000
APP_BASE_URL=http://localhost:4000


SMTP_HOST=
SMTP_PORT=
MAIL_USER=
MAIL_PASSWORD=

# true for 465, false for other ports
EMAIL_SMTP_SECURE=false

DB_USER = 
DB_PASS = 