<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Node js Email </title>
        <link rel="stylesheet" href="">
      </head>


      <body>
        <div class="container"><br />
          <h1>Send Email</h1><br />
          <form onsubmit="sentthis()" method="post">
            <div class="divi">
                <label for="to"></label>To:</label>
                <input type="email" class="too" name="to">
              </div>


            <div class="divi">

                <label for="subject">Subject:</label>
                <input type="text" class="subjectt" name="subject">
              </div>
            <div class="divi">
                  <p>Body:</p>
                  <textarea cols="" rows="5"class="textarea" name="body"></textarea>
                </div>
            <div class="divi">
                <button type="submit" class="btn">Send</button>
              </div>
          </form>
      </div>
      </body>
    </html>